.heading{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    color:blueviolet;
    text-decoration: underline;
    text-underline-offset: 5px;
}

form {
    /* text-align: center;  */
    display: inline-block;
    padding: 10px;
    margin:0px 0px 0px 41%;
    border: 1px solid black;
  }

  #submit_button{
    margin: 0px 0px 0px 50px;
  }

  #text_area{
    margin: 0px 0px 0px 75px;
  }

body{
    background:#FFF6B7;
}